.form-item--editor-format.js-form-item.form-item.js-form-type-select.form-type--select.js-form-item-field-purpose-of-group-0-format.form-item--field-purpose-of-group-0-format,
#edit-field-purpose-of-group-0-format,
#edit-meta-published {
	display: none;
}

h1 {
	margin: 0;
	background: white;
}
.content-header.clearfix {
	padding: 0;
}